.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}

.menu {
  display: flex;
  gap: 30px;
  display: none;
}

.menu-icon {
  cursor: pointer;
  z-index: 2;
}

.menu-small-close {
  position: absolute;
  right: 0px;
  top: 0px;
  display: none;
  flex-direction: column;
  gap: 15px;
  background-color: antiquewhite;
  height: 100vh;
  padding: 80px 80px 20px 30px;
  z-index: 1;
}

.menu-small {
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: antiquewhite;
  height: 100vh;
  padding: 100px 80px 20px 30px;
  z-index: 1;
}

.menu-link {
  text-decoration: none;
  font-size: 16px;
  color: #4f4242;
}
.menu-link:hover {
  color: #ce6029;
}

.fas {
  font-size: 25px;
}

/* .menu-icon {
  display: none;
} */

@media only screen and (min-width: 700px) {
  .menu-icon {
    display: none;
  }
  .menu {
    display: flex;
    gap: 40px;
  }
  .nav-container {
    padding-inline: 50px;
  }
}
