* {
  font-family: "Inter Tight", sans-serif;
}

.HeroSection {
  padding-block: 10px;
}
ul {
  list-style: none;
  padding: 0px;
}

@media only screen and (min-width: 1000px) {
  /* SideBar is a head class for the SideBar component */
  /* .SideBar {
    width: 60%;
  } */
  .App {
    padding-inline: 70px;
  }
}

@media only screen and (min-width: 1200px) {
  /* .App {
    padding-inline: 200px;
  } */
  .app-wrap {
    display: flex;
    gap: 30px;
    z-index: -10;
    height: 78vh;
    padding: 20px 50px 40px 50px;
  }
  .HeroSection {
    width: 120%;
  }
  .SideBar {
    /* width: 50%; */
  }
  .hero-container {
    display: flex;
  }
}
